%html
  %head
    %title
      Andrew Couch &mdash; One kick ass full-stack developer, designer &amp; architect
    %meta{:name => "author", :content => "Andrew Couch"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{:rel => "stylesheet", :href => "style.css"}
    %link{:rel => "shortcut icon", :href => "favicon.ico"}
  %body
    #cv{:itemscope => true, :itemtype => "http://schema.org/Person"}
      %header
        .info
          .name{:itemprop => "name"}
            Andrew Couch
          .tagline{:itemprop => "jobTitle"}
            One kick ass full-stack developer, designer&nbsp;&amp; architect
          .address{:itemprop => "address", :itemscope => true, :itemtype => "http://schema.org/PostalAddress"}
            %span{:itemprop => "addressLocality"}
              New York
            %span{:itemprop => "addressRegion"}
              New York
            %span{:itemprop => "addressCountry"}
              United States
          .email{:itemprop => "email"}
            %a{:href => "mailto:couchand@gmail.com"}
              couchand@gmail.com
          .github{:itemprop => "url"}
            %a{:href => "http://github.com/couchand",
               :rel => "me"}
              http://github.com/couchand
        .avatar
          %img{:src => "http://www.gravatar.com/avatar/e013232c8e8539be34c51834c974fec1?s=200",
               :itemprop => "image"}
      %section#experience{:itemscope => true, :itemtype => "http://schema.org/ItemList"}
        .position{:itemprop => "itemListElement"}
          .summary{:itemscope => true, :itemtype => "http://schema.org/Organization"}
            .title{:itemprop => "jobTitle"}
              Technical Consultant
            .period
              %time{:datetime => "2011-05"}
                May 2011
              to present
            .department{:itemprop => "member", :itemscope => true, :itemtype => "http://schema.org/Organization"}
              %span{:itemprop => "name"}
                Beyond
            .company{:itemprop => "name"}
              Bluewolf Group
        .position{:itemprop => "itemListElement"}
          .summary{:itemscope => true, :itemtype => "http://schema.org/Organization"}
            .title{:itemprop => "jobTitle"}
              PHP Developer and Architect
            .period
              %time{:datetime => "2010-08"}
                August 2010
              to
              %time{:datetime => "2011-05"}
                May 2011
            .department{:itemprop => "member", :itemscope => true, :itemtype => "http://schema.org/Organization"}
              %span{:itemprop => "name"}
                Department of Biology
            .company{:itemprop => "name"}
              University of Iowa
        .position{:itemprop => "itemListElement"}
          .summary{:itemscope => true, :itemtype => "http://schema.org/Organization"}
            .title{:itemprop => "jobTitle"}
              Visual C++ Developer
            .period
              %time{:datetime => "2008-12"}
                December 2012
              to
              %time{:datetime => "2010-06"}
                June 2010
            .department{:itemprop => "member", :itemscope => true, :itemtype => "http://schema.org/Organization"}
              %span{:itemprop => "name"}
                Neural Control of Movement Laboratory
            .company{:itemprop => "name"}
              University of Iowa
      %section#publications{:itemscope => true, :itemtype => "http://schema.org/ItemList"}
        .blog{:itemprop => "itemListElement", :itemscope => true, :itemtype => "http://schema.org/Blog"}
          .summary
            .title{:itemprop => "name"}
              Compiled Thoughts
            %a{:href => "http://compiledthoughts.couchand.com",
               :rel => "me",
               :itemprop => "url"}
              http://compiledthoughts.couchand.com
          .description{:itemprop => "description"}
            Dispatches from the software development underground.
        .blog{:itemprop => "itemListElement", :itemscope => true, :itemtype => "http://schema.org/Blog"}
          .summary
            .title{:itemprop => "name"}
              I'll Have a Beer
            %a{:href => "http://haveabeer.couchand.com",
                :rel => "me",
                :itemprop => "url"}
              http://haveabeer.couchand.com
          .description{:itemprop => "description"}
            Craft beer reviews and industry commentary.
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-40726699-1', 'github.io');
    ga('send', 'pageview');
