body
    margin: 0
    padding: 0
    background-color: #eee
    color: #322

#cv
    max-width: 900px
    margin: 35px auto
    font:
        family: sans-serif
        size: 16px

a
    &:link
        color: #13a
    &:visited
        color: #a31

img
    padding: 3px
    border: thin solid #ccc
        radius: 8px

header, section
    clear: both

header .info
    max-width: 58%
    float: left

header .avatar
    float: right

.info
    &> div
        margin: 2px 0 4px

    .name
        font-size: 30px
    .tagline
        font-size: 22px
    .address span
        &:before
            content: "|"
        &:first-child:before
            content: none

.position
    margin: 0 0 15px

    .summary
        width: 42%

        &> div
            text-align: right

        .title
            font-size: 20px
            margin: 0 0 7px
        .department
            color: #544
            font-size: 16px
        .company
            color: #433
            font-size: 22px
            margin: 0 0 4px
        .period
            color: #433
            time
                font-size: 18px
