%html
  %head
    %title
      Andrew Couch &mdash; Kick-ass full-stack Developer &amp; Designer
    %meta{:name => "author", :content => "Andrew Couch"}
    %link{:rel => "stylesheet", :href => "resume.css"}
  %body
    #info{:itemscope => true, :itemtype => "http://schema.org/Person"}
      %header
        .name{:itemprop => "name"}
          Andrew Couch
        .tagline{:itemprop => "jobTitle"}
          Kick-ass full-stack Developer &amp; Designer
        .address{:itemprop => "address", :itemscope => true, :itemtype => "http://schema.org/PostalAddress"}
          %span{:itemprop => "addressLocality"}
            New York
          %span{:itemprop => "addressRegion"}
            New York
          %span{:itemprop => "addressCountry"}
            United States
        .email{:itemprop => "email"}
          %a{:href => "mailto:couchand@gmail.com"}
            couchand@gmail.com
        .github{:itemprop => "url"}
          %a{:href => "http://github.com/couchand",
             :rel => "me"}
            http://github.com/couchand
        .avatar
          %img{:src => "http://www.gravatar.com/avatar/e013232c8e8539be34c51834c974fec1?s=200",
               :itemprop => "image"}
      %section#experience{:itemscope => true, :itemtype => "http://schema.org/ItemList"}
        .position{:itemprop => "itemListElement"}
          .summary{:itemscope => true, :itemtype => "http://schema.org/Organization"}
            .title{:itemprop => "jobTitle"}
              Technical Consultant
            .department{:itemprop => "member", :itemscope => true, :itemtype => "http://schema.org/Organization"}
              %span{:itemprop => "name"}
                Beyond
            .company{:itemprop => "name"}
              Bluewolf Group
            .period
              %time{:datetime => "2011-05"}
                May 2011
              to present
        .position{:itemprop => "itemListElement"}
          .summary{:itemscope => true, :itemtype => "http://schema.org/Organization"}
            .title{:itemprop => "jobTitle"}
              PHP Developer and Architect
            .department{:itemprop => "member", :itemscope => true, :itemtype => "http://schema.org/Organization"}
              %span{:itemprop => "name"}
                Department of Biology
            .company{:itemprop => "name"}
              University of Iowa
            .period
              %time{:datetime => "2010-08"}
                August 2010
              to
              %time{:datetime => "2011-05"}
                May 2011
        .position{:itemprop => "itemListElement"}
          .summary{:itemscope => true, :itemtype => "http://schema.org/Organization"}
            .title{:itemprop => "jobTitle"}
              Visual C++ Developer
            .department{:itemprop => "member", :itemscope => true, :itemtype => "http://schema.org/Organization"}
              %span{:itemprop => "name"}
                Neural Control of Movement Laboratory
            .company{:itemprop => "name"}
              University of Iowa
            .period
              %time{:datetime => "2008-12"}
                December 2012
              to
              %time{:datetime => "2010-06"}
                June 2010
      %section#publications{:itemscope => true, :itemtype => "http://schema.org/ItemList"}
        .blog{:itemprop => "itemListElement", :itemscope => true, :itemtype => "http://schema.org/Blog"}
          .title{:itemprop => "name"}
            Compiled Thoughts
          %a{:href => "http://compiledthoughts.couchand.com",
             :rel => "me",
             :itemprop => "url"}
            http://compiledthoughts.couchand.com
          .description{:itemprop => "description"}
            Dispatches from the software development underground.
        .blog{:itemprop => "itemListElement", :itemscope => true, :itemtype => "http://schema.org/Blog"}
          .title{:itemprop => "name"}
            I'll Have a Beer
          %a{:href => "http://haveabeer.couchand.com",
              :rel => "me",
              :itemprop => "url"}
            http://haveabeer.couchand.com
          .description{:itemprop => "description"}
            Craft beer reviews and industry commentary.
