body
    margin: 0
    padding: 0
    background-color: #eee
    color: #322

#cv
    max-width: 900px
    margin: 15px auto
    font:
        family: sans-serif
        size: 16px

a
    &:link
        color: #13a
    &:visited
        color: #a31

img
    padding: 3px
    border: thin solid #ccc
        radius: 8px

header > div
    margin: 2px 12px 4px

header, section
    clear: both

header .info
    float: left

header .avatar
    float: right

.name
    font-size: 30px

.tagline
    font-size: 22px

.address span
    &:before
        content: "|"
    &:first-child:before
        content: none
