body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  font-size: 16px;
  color: #332222; }

#cv {
  max-width: 900px;
  margin: 35px auto;
  font-family: sans-serif;
  font-size: 100%; }
  @media (max-width: 1160px) {
    #cv {
      width: 93%; } }
  @media (max-width: 940px) {
    #cv {
      width: auto;
      margin: 35px 30px; } }
  @media (max-width: 600px) {
    #cv {
      width: 87%; } }
  @media (max-width: 600px) {
    #cv {
      font-size: 90%; } }

a:link {
  color: #1133aa; }
a:visited {
  color: #aa3311; }

img {
  padding: 3px;
  border: thin solid #cccccc;
    border-radius: 8px; }

header, section {
  clear: both; }

section {
  margin: 0 0 52px 0;
  padding: 25px 0 0; }

header .info {
  max-width: 69%;
  float: left; }
  @media (max-width: 800px) {
    header .info {
      max-width: 60%; } }
  @media (max-width: 600px) {
    header .info {
      max-width: 310px;
      float: none;
      clear: both; } }

header .avatar {
  float: right; }
  @media (max-width: 600px) {
    header .avatar {
      margin: 20px 0 10px;
      clear: both; } }
  @media (max-width: 390px) {
    header .avatar {
      margin: 20px 0 10px; } }

.info > div {
  margin: 2px 0 4px; }
.info .name {
  color: #554444;
  font-size: 180%; }
.info .tagline {
  font-size: 130%; }
.info .address span {
  font-size: 110%;
  color: #443333; }
  .info .address span:before {
    content: "|"; }
  .info .address span:first-child:before {
    content: none; }

.position, .blog {
  margin: 0 0 25px; }
  .position .summary, .blog .summary {
    width: 42%;
    display: inline-block;
    text-align: right; }
    @media (max-width: 850px) {
      .position .summary, .blog .summary {
        width: 330px; } }
    @media (max-width: 390px) {
      .position .summary, .blog .summary {
        width: 100%; } }

.position .summary .title {
  font-size: 140%;
  margin: 0 0 4px; }
.position .summary .period {
  color: #443333;
  margin: 0 0 7px; }
  .position .summary .period time {
    font-size: 110%; }
.position .summary .department {
  color: #554444;
  font-size: 110%; }
.position .summary .company {
  color: #443333;
  font-size: 130%; }

.blog .summary .title {
  color: #443333;
  font-size: 140%; }
.blog .description {
  margin: 0 0 0 3%;
  max-width: 54%;
  display: inline-block; }
  @media (max-width: 850px) {
    .blog .description {
      display: block;
      margin: 15px 15%;
      max-width: 100%; } }
